{% extends "base_customadmin.html" %}

{% block admintitle %}
Confirm {% if mode == 'delete' %}Deletion{% endif %}{% if mode == 'deactivate'%}Declining{% endif %} of Event!
{% endblock %}

{% block content %}
<!--  START CONTENT -->

<!--  LEFT SIDE -->
<h1>Confirm Event Deletion</span></h1>
<div class="textholder_wide">
<form action="/admin/events/{% if mode == 'delete' %}delete{% endif %}{% if mode == 'deactivate'%}decline{% endif %}/{{ event_id }}/" method="post">{% csrf_token %}
<p align=center>Are you sure you want to {% if mode == 'delete' %}delete{% endif %}{% if mode == 'deactivate'%}decline{% endif %} event: <span>{{ event.event_title }}</span>?<br>
<br><input type="submit" name="confirm" value="Yes">
<input type="submit" name="confirm" value="No"></p>

</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}
