{% extends "base_customadmin.html" %}
{% load pagination_tags %}


{% block admintitle %}
Events Report
{% endblock %}


{% block content %}

<!--  START CONTENT -->
<!--  LEFT SIDE -->
<h1>Event Report</span></h1>
<div class="textholder_wide" style=padding-top:0>
<h2><span style=float:right;display:block;margin-top:10px;><a id="filterImageLink" href="javascript:toggleFilter('filterContentDiv', 'filterImageLink');"><img src="/media/site_images/down_arrow.gif"></a></span>Filter</h2>
<div id="filterContentDiv" style="display: none;">
<form action="/admin/events/reports/" method="get">{% csrf_token %}
{{ filter.form.non_field_errors }}

<div id="filterContentDiv" class=filter_table>
<table cellpadding=0 cellspacing=0 width=100%>
<tr>
<td>{{ filter.form.event_title.errors }}
<label for="id_event_title">Event Title</label>
</td>
<td>
{{ filter.form.event_title }}

</td>
<td><h4 style=padding:0;margin:0;>Components Requested:</h4></td><td></td>
</tr>
<tr>
<td>
<label for="id_event_date">Date & Time</label>
</td>
<td>
{{ filter.form.event_date }}

</td>
<td>Vis Wall</td><td>{{ filter.form.event_component_vizwall }}</td>
</tr>
<tr>
<td>
<label for="event_duration">Event Duration</label>
</td>
<td>
{{ filter.form.event_duration }}

</td>
<td>3D TV</td><td>{{ filter.form.event_component_3dtv }}</td>
</tr>
<tr>
<td>
<label for="event_visitors"># of Attendees</label>
</td>
<td>
{{ filter.form.event_visitors }}

</td>
<td>Omni</td><td>{{ filter.form.event_component_omni }}</td>
</tr>
<tr>
<td>
<label for="event_contact_dept">Department</label>
</td>
<td>
{{ filter.form.event_contact_dept }}
</td>
<td>HD2</td><td>{{ filter.form.event_component_hd2 }}</td>
</tr>
<tr>

<td>
<label for="event_contact_exec">Executive Office</label>
</td>
<td>
{{ filter.form.event_contact_exec }}
</td>
<td>Smart Board</td><td>{{ filter.form.event_component_smart }}</td>
</tr>
<tr>
<td> {{ filter.form.o.errors }}
<label for "id_o">Order By</label>
</td>
<td>
{{ filter.form.o }}
</td>
<td></td><td></td>
</tr>
<tr>
<td>
</td>
<td>
<input type="submit" value="Filter Results">
</td>
<td></td><td></td>
</tr>
</table>
</form>
</div>
</div>
</div>

<div class="textholder_wide" style=padding-top:0>
<h2><span style=float:right><a href="{{ csvDownloadLink }}">Download CSV</a></span>Report Results</h2>
{% autopaginate filter.qs 40 as filter_list %}


<h3>Results Summary</h3>
<div class="event_list">
<table cellpadding=0 cellspacing=0 width=100%>

<tr>
<td class=el_start><strong>Number of Events</strong></td>
<td>{{ count }}</td>
<td class=el_start><strong># VizWall Requests</strong></td>
<td>{{ count_vizwall }}</td>
<td class=el_start><strong># HD2 Requests</strong></td>
<td class=el_end>{{ count_hd2 }}</td>
</tr>
<tr>
<td class=el_start><strong>Duration Average</strong></td>
<td>{{ duration_avg }}</td>
<td class=el_start><strong># 3D TV Requests</strong></td>
<td>{{ count_3dtv }}</td>
<td class=el_start><strong># Smart Board Requests</td>
<td class=el_end>{{ count_smart }}</td>
</tr>
<tr>
<td class=el_start><strong>Visitors Average</strong></td>
<td>{{ visitors_avg }}</td>
<td class=el_start><strong># Omni Requests</strong></td>
<td>{{ count_omni }}</td>
<td></td><td class=el_end></td>
</tr>
</table></div>


<h3>Results Breakdown</h3>
<div class="event_list">
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
<td class=el_start><strong>Title</strong></td>
<td><strong>Date</strong></td>
<td><strong>Duration</strong></td>
<td><strong># Attendees</strong></td>
<td><strong>Department</strong></td>
<td><strong>Components</strong></td>
</tr>
{% for e in filter_list %}
<tr>
<td class=el_start>{{ e.event_title }}</td>
<td>{{ e.event_date|date:"n/j/y h:i A" }} - {{ e.get_end_date|date:"h:i A" }}</td>
<td>{{ e.event_duration }}</td>
<td>{{ e.event_visitors }}</td>
<td>{{ e.event_contact_dept|title }}</td>
<td class=el_end>{% if e.event_component_vizwall %}<img src="/media/site_images/vizwall_icon.png">{% endif %}
{% if e.event_component_3dtv %}<img src="/media/site_images/3dtv_icon.png">{% endif %}
{% if e.event_component_omni %}<img src="/media/site_images/omni_icon.png">{% endif %}
{% if e.event_component_hd2 %}<img src="/media/site_images/hd2_icon.png">{% endif %}
{% if e.event_component_smart %}<img src="/media/site_images/smart_icon.png">{% endif %}</td>
</tr>
{% endfor %}
</table>
</div>
<center>{% paginate %}</center>
</div>

<div class="textholder_wide">

<table style=margin-left:20px;>
<tr>
<td><img src=/media/site_images/vizwall_icon.png></td><td style="padding-right:30px;"> - VizWall</td>
<td><img src=/media/site_images/3dtv_icon.png></td><td style="padding-right:30px;"> - 3D TV</td>
<td><img src=/media/site_images/omni_icon.png></td><td style="padding-right:30px;"> - Omni</td>
<td><img src=/media/site_images/hd2_icon.png></td><td style="padding-right:30px;"> - HD2</td>
<td><img src=/media/site_images/smart_icon.png></td><td style="padding-right:30px;"> - SmartBoard</td>
</tr>
</table>

</div>

<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}
