{% extends "base_customadmin.html" %}

{% block admintitle %}
Create News Article
{% endblock %}

{% block content %}
<!--  START CONTENT -->

<!--  LEFT SIDE -->
<h1>NEWS ARTICLE DETAIL</span></h1>
<div class="textholder_wide">
<form action="/admin/news/create/" method="post">{% csrf_token %}
{{ form.non_field_errors }}
<table cellpadding=0 cellspacing=0 style=margin:10px;>
<tr class=eventrow>
<td class=eventtd width=30%> {{ form.title.errors }}
<label for="id_title">Article Title <span>*</span></label>
</td>
<td class=eventtd>
<!--<input  type="text" name="article_title" maxlength="50" size="30">-->
{{ form.title }}
<span class=tip>{{ form.title.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="id_is_published">Published Status<span>*</span></label>
</td>
<td class=eventtd>
{{ form.is_published }}
<span class=tip>{{ form.is_published.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="id_picture">Full Size Image</label>
</td>
<td class=eventtd>
<span class=tip>Full size mage should be no larger than 300px x 300px</span>-->
{{ form.picture }}
<span class=tip>{{ form.picture.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd valign=top>
<label for="id_article">Article Body <span>*</span></label>
</td>
<td class=eventtd>
{{ form.article }}
<span class=tip>{{ form.article.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd valign=top>
<label for="id_outside_link">Outside Link</label>
</td>
<td class=eventtd>
{{ form.outside_link }}
<span class=tip>{{ form.outside_link.help_text }}</span>
</td>
</tr>

<!-- error output -->
<tr class=eventrow>
<td class=eventtd colspan=2>
{% for field in form %}
<span class=error>{{ field.errors }}</span>
{% endfor %}
</td>
</tr>
<!-- end error output --->


<tr class=eventrow>
<td>&nbsp;</td>
<td class=eventtd>
<input type="submit" value="Save Changes">
</td>
</tr>
</table>

</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}
