{% extends "base.html" %}

{% block title %}
{{ monthName }} {{ year }} Calendar
{% endblock %}

{% block content %}
<!--  LEFT SIDE -->
<h1><span>VIZLAB</span> EVENTS CALENDAR</h1>
<div class="textholder_wide" style=padding:20px;>

<h2 style=padding-top:0;padding-bottom:20px;><span style=float:right><a href="/calendar/{{ prevYear }}/{{ prevMonth }}/">Previous</a> | <a href="/calendar/{{ nextYear }}/{{ nextMonth }}/">Next</a></span>{{ monthName }} {{ year }}</h2>
{{ calendar|safe }}
</div>
<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}
