{% extends "super-base.html" %}

{% block title %}
Request a Timeslot
{% endblock %}


{% block content %}

<!--  START CONTENT -->
<!--  RIGHT SIDE -->
<div class="right-side">
<h1 style=padding-left:20px;>VIZLAB GUIDELINES</h1>
<div class="right-menu">
<p>The calendar request form is to serve for coordination of all activities associated with the Advanced Visualization Laboratory (VizLab).  This process will allow the VizLab team to better serve the UTSA community and other collaborative efforts engaging in this resource. </p>

<ol>
<li>Requests for a demonstration or usage of the facility should be made via the calendar request form.</li>
<li>Requests generally should be done 72 hours in advance</li>
<li>Requested times should be Monday through Friday between the hours of 8am - 5pm.</li>
<li>Data files to be used on the visualization wall should be in the following format to allow for software compatibility: jpg, gif, tif, png, bmp, mov, avi, mp4 and mpg.</li>
<li>Requests for special events should be coordinated with the program specialist to allow for planning time.  </li>
</ol>


</div>

</div>


<!--  LEFT SIDE -->
<h1>REQUEST A TIMESLOT</span></h1>
<div class="textholder">
<h2>Event Information</h2>
<form action="/events/request/" method="post">{% csrf_token %}
{{ form.non_field_errors }}
<table cellpadding=0 cellspacing=0 class=eventtable>
<tr class=eventrow>
<td class=eventtd width=40%> {{ form.event_title.errors }}
<label for="id_event_title">Event Title <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_title }}
<span class=tip>{{ form.event_title.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="id_event_date">Date & Time <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_date }}
<span class=tip>{{ form.event_date.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="event_duration">Event Duration <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_duration }}
<span class=tip>{{ form.event_duration.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="event_audience">Audience <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_audience }}
<span class=tip>{{ form.event_audience.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="event_visitors"># of Attendees <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_visitors }}
<span class=tip>{{ form.event_visitors.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd valign=top>
<label for="event_name">Components Needed <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_component_vizwall }}&nbsp;Vis Wall<br>
{{ form.event_component_3dtv }}&nbsp;3D TV<br>
{{ form.event_component_omni }}&nbsp;Omni<br>
{{ form.event_component_hd2 }}&nbsp;HD2<br>
{{ form.event_component_smart }}&nbsp;Smart Board<br>
</label>
<span class=tip>Select the components that will be needed.</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd valign=top>
<label for="event_desc">Description <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_details }}
<span class=tip>{{ form.event_details.help_text }}</span>
<!--<textarea name="event_desc" cols=35 rows=5></textarea>-->
</td>
</tr>
</table>

<h2>Contact Information</h2>
<table cellpadding=0 cellspacing=0 class=eventtable>
<tr class=eventrow>
<td class=eventtd width=40%>
<label for="event_contact_name">Contact Name <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_contact_name }}
<span class=tip>{{ form.event_contact_name.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="event_contact_dept">Department <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_contact_dept }}
<span class=tip>{{ form.event_contact_dept.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="event_contact_exec">Executive Office <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_contact_exec }}
<span class=tip>{{ form.event_contact_exec.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="event_contact_phone">Phone # <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_contact_phone }}
<span class=tip>{{ form.event_contact_phone.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd>
<label for="event_contact_email">Email Address <span>*</span></label>
</td>
<td class=eventtd>
{{ form.event_contact_email }}
<span class=tip>{{ form.event_contact_email.help_text }}</span>
</td>
</tr>

<!-- ERROR OUTPUT --> <!-- The timeslot you selected has already been reserved. please select another date -->
<tr class=eventrow>
<td class=eventtd colspan=2>
{% for field in form %}
<span class=error>{{ field.errors }}</span>
{% endfor %}
</td>
</tr>
<!-- /ERROR OUTPUT -->

<tr class=eventrow>
<td class=eventtd>
</td>
<td class=eventtd>
<input type="submit" value="Submit Request">
</td>
</tr>
</table>
</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}
