{% extends "base-admin.html" %}

{% block title %}
Admin Accounts
{% endblock %}

{% block content %}


<!--  START CONTENT -->

<!--  LEFT SIDE -->
<h1>MANAGE ACCOUNTS</h1>
<div class="textholder_wide">
<div class=event_list>
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
<td class=el_start><strong>Username</strong></td>
<td><strong>Formal Name</strong></td>
<td><strong>Position</strong></td>
<td align=center><strong>VizLab Staff</strong></td>
<td align=center><strong>Leadership Team</strong></td>
<td align=center><strong>Scheduler</strong></td>
<td align=center><strong>Demo Presenter</strong></td>
<td class=el_end><strong>Action</strong></td>
</tr>
<tr>
<td class=el_start>Username1</td>
<td><a href=#>Mr. User Name</a></td>
<td>Staff</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td class=el_end><a href=#>Edit</a> | <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start>Username2</td>
<td><a href=#>Mrs. User Name</a></td>
<td>Faculty</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td class=el_end><a href=#>Edit</a> | <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start>Username3</td>
<td><a href=#>Dr. User Name</a></td>
<td>Staff</td>
<td align=center>&nbsp;</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td class=el_end><a href=#>Edit</a> | <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start>Username4</td>
<td><a href=#>Dr. User Name</a></td>
<td>Staff</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=center>Yes</td>
<td class=el_end><a href=#>Edit</a> | <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start>Username5</td>
<td><a href=#>Dr. User Name</a></td>
<td>Faculty</td>
<td align=center>Yes</td>
<td align=center>Yes</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td class=el_end><a href=#>Edit</a> | <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start>Username6</td>
<td><a href=#>Mr. User Name Jr.</a></td>
<td>Staff</td>
<td align=center>Yes</td>
<td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=center>Yes</td>
<td class=el_end><a href=#>Edit</a> | <a href=#>Delete</a></td>
</tr>
<tr>
<td colspan=8 class=el_start><a href=#><strong>Create New Account</strong></a></td>
</tr>
</table>
</div>


</div>



<div class="clear"></div>

<!--  END CONTENT -->

{% endblock %}