{% extends "base-admin.html" %}

{% block title %}
Admin Menu
{% endblock %}

{% block content %}


<!--  START CONTENT -->
<!--  RIGHT SIDE -->
<div class="right-side">
<h1 style=padding-left:20px;>Admin Menu</h1>

<div class="right-menu" style=padding:0;>
	<div class="admin-side-menu">
	<ul>
	<li class="asm-events"><a href=/admin/events/>Manage Events</a></li>
	<li class="asm-news"><a href=/admin/news/>Manage News</a></li>
	{% if request.user.is_superuser %}<li class="asm-pages"><a href=/admin/static/>Manage Pages</a></li>
	<li class="asm-accounts"><a href=/admin/accounts/>Manage Accounts</a></li>{% endif %}
	<li class="asm-reports"><a href=/admin/events/reports/>Reports</a></li>
	</ul>
	</div>
</div>

<div class="right-menu">
<h3 style=margin-bottom:10px;>Event Request Stats</h3>
	<div class=event_list_compact>
		<table cellpadding=0 cellspacing=0 width=100%>
                {% for stat in stats %}
		<tr class=el_title>
				<td class=el_start><strong>{{ stat.0 }}</strong></td>
				<td class=el_end>{{ stat.1 }}</td>
		</tr>
		{% endfor %}
		</table>
	</div>
</div>

</div>


<!--  LEFT SIDE -->
<h1>ADMIN HOME</h1>
{% if request.user.profile.is_scheduler or request.user.is_superuser %}
<div class="textholder">
<h3 style="padding:10px 20px;">Pending Events</h3>
<div class=event_list_compact>
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
{% if pendingevents %}
<td class=el_start><strong>Event Date</strong></td>
<td><strong>Event Title</strong></td>
<td><strong>Contact</strong></td>
<td class=el_end><strong>Action</strong></td>
</tr>
{% for e in pendingevents %}
<tr>
<td class=el_start>{{ e.event_date|date:"n/j/y h:i A" }} - {{ e.get_end_date|date:"h:i A" }}</td>
<td><a href="/admin/events/edit/{{ e.pk }}/">{{ e.event_title|truncatewords:5 }}</a></td>
<td><a href="mailto:{{ e.event_contact_email }}">{{ e.event_contact_name }}</a></td>
<td class=el_end><a href="events/requests/confirm/{{ e.pk }}/">Confirm</a> | <a href="events/requests/edit/{{ e.pk }}/">Edit</a> | <a href="events/requests/decline/{{ e.pk }}/">Decline</a> | <a href="events/requests/delete/{{ e.pk }}/">Delete</a></td>
</tr>
{% endfor %}
{% else %}
<td class=el_start colspan=4>There are no pending events</td></tr>
{% endif %}
</table>
</div>
</div>
{% endif %}

<div class="textholder">
<h3 style="padding:10px 20px;">Upcoming Events</h3>
<div class=event_list_compact>
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
{% if events %}
<td class=el_start><strong>Event Date</strong></td>
<td><strong>Event Title</strong></td>
<td><strong>Contact</strong></td>
<td class=el_end><strong>Assigned Proctors</strong></td>
</tr>
{% for e in events %}
<tr>
<td class=el_start>{{ e.event_date|date:"n/j/y h:i A" }} - {{ e.get_end_date|date:"h:i A" }}</td>
<td><a href="{% if request.user.profile.is_scheduler or request.user.is_superuser %}/admin/events/active/edit/{% else %}/events/{% endif %}{{ e.pk }}/">{{ e.event_title|truncatewords:5 }}</a></td>
<td><a href="mailto:{{ e.event_contact_email }}">{{ e.event_contact_name }}</a></td>
<td class=el_end>TODO</td>
</tr>
{% endfor %}
{% else %}
<td class=el_start colspan=4>There are no upcoming events</td></tr>
{% endif %}
</table>
</div>
</div>

<div class="textholder">
<h3 style="padding:10px 20px;">Most Recent News Articles</h3>
<div class=event_list_compact>
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
{% if news %}
<td class=el_start><strong>Article Date</strong></td>
<td><strong>Article Title</strong></td>
<td class=el_end><strong>Source</strong></td>
</tr>
{% for n in news %}
<tr>
<td class=el_start>{{ n.pub_date|date:"n/j/y h:i A" }}</td>
<td><a href="/news/details/{{ n.pk }}/">{{ n.title|truncatewords:5 }}</a></td>
<td class=el_end><a href="{{ n.outside_link }}">Link</a></td>
</tr>
{% endfor %}
{% else %}
<td class=el_start colspan=4>There is no recent news</td></tr>
{% endif %}
</table>
</div>
</div>



<div class="clear"></div>

<!--  END CONTENT -->

{% endblock %}
