{% extends "base-admin.html" %}

{% block title %}
Admin News
{% endblock %}

{% block content %}


<!--  START CONTENT -->

<!--  LEFT SIDE -->
<h1>MANAGE NEWS</h1>
<div class="textholder_wide">
<div class=event_list>
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
<td class=el_start><strong>Article Title</strong></td>
<td><strong>Article Body</strong></td>
<td><strong>Published?</strong></td>
<td class=el_end><strong>Action</strong></td>
</tr>
<tr>
<td class=el_start><a href=#>Article 1</a></td>
<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada...</td>
<td>11/27/11 2:00 PM</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start><a href=#>Article 2</a></td>
<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada...</td>
<td>No</td>
<td class=el_end><a href=#>View</a> | <a href=#>Publish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start><a href=#>Article 3</a></td>
<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada...</td>
<td>11/28/11 2:00 PM</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start><a href=#>Article 4</a></td>
<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada...</td>
<td>11/29/11 2:00 PM</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<td colspan=5 class=el_start><a href=#><strong>Create New Article</strong></a></td>
</tr>

</table>
</div>


</div>



<div class="clear"></div>

<!--  END CONTENT -->

{% endblock %}