{% extends "base-admin.html" %}

{% block title %}
Admin Pages
{% endblock %}

{% block content %}


<!--  START CONTENT -->

<!--  LEFT SIDE -->
<h1>MANAGE STATIC PAGES</h1>
<div class="textholder_wide">
<div class=event_list>
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
<td class=el_start><strong>Page Title</strong></td>
<td><strong>Parent</strong></td>
<td><strong>URL</strong></td>
<td><strong>Published?</strong></td>
<td class=el_end><strong>Action</strong></td>
</tr>
<tr>
<td class=el_start><a href=#>FAQs</a></td>
<td>About</td>
<td>/faq/</td>
<td>Yes</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<td class=el_start><a href=#>Overview</a></td>
<td>About</td>
<td>/overview/</td>
<td>Yes</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<tr>
<td class=el_start><a href=#>Research</a></td>
<td>About</td>
<td>/research/</td>
<td>Yes</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<tr>
<td class=el_start><a href=#>VizLab Team</a></td>
<td>About</td>
<td>/team/</td>
<td>Yes</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>
<tr>
<td class=el_start><a href=#>Facilities</a></td>
<td>N/A</td>
<td>/facilities/</td>
<td>Yes</td>
<td class=el_end><a href=#>View</a> | <a href=#>Unpublish</a> | <a href=#>Edit</a>| <a href=#>Delete</a></td>
</tr>
<tr>

</table>
</div>


</div>



<div class="clear"></div>

<!--  END CONTENT -->

{% endblock %}