{% extends "super-base.html" %}

{% block splash %}

<div id="splash"><div class="container">
<div class="wt-rotator">
    	<div class="screen">
            <noscript>
            	<!-- placeholder 1st image when javascript is off -->
                <img src="/media/site_images/splash1.jpg"/>
            </noscript>
      	</div>
        <div class="c-panel">
      		<div class="buttons">
            	<div class="prev-btn"></div>
                <div class="play-btn"></div>
            	<div class="next-btn"></div>
            </div>
      		<div class="thumbnails">
                <ul>
                    <li>
                    	<a href="/media/site_images/splash5.jpg"></a>

                        <div style="top:0; left:613px; width:347px; height:238px; color:#FFF; background-color:#000;">
                           <h5>Ultra High Definition Video Wall</h5>
                           <p style=padding-top:0;>One high configuration computer is connected to a number of monitors that display various images and data concurrently.</p>
                      	</div>
                    </li>
                    <li>
                        <a href="/media/site_images/splash3.jpg"></a>

                        <div style="top:0; left:613px; width:347px; height:238px; color:#FFF; background-color:#000;">
                            <h5>Leading Edge Vizualizations</h5>
                            <p style=padding-top:0;>The combination of research data, visualization wall and haptic technology will allow researchers and students to move forward to the next level of experimentation process. </p>
                     	</div>
                    </li>
           	  		<li>
                        <a href="/media/site_images/splash1.jpg"></a>

                       	<div style="top:0; left:613px; width:347px; height:238px; color:#FFF; background-color:#000;">
                            <h5>State of the Art Facilities</h5>
                            <p style=padding-top:0;>The facilities available at the VizLab offer state of the art visualization technology to aid in teaching and research. Schedule an event at the VizLab and take advantage of the capabilities of our facilities.</p>
                       	</div>
                    </li>
              		<li>
                        <a href="/media/site_images/splash4.jpg"></a>

                        <div style="top:0; left:613px; width:347px; height:238px; color:#FFF; background-color:#000;">
                           <h5>Haptic Capabilities</h5>
                           <p style=padding-top:0;>Technology that takes advantage of a user's sense of touch by applying forces, vibrations, or motions to the user. The fairly new technology is gaining widespread acceptance as a key part of virtual reality systems, adding the sense of touch to previously visual-only solutions. </p>
                     	</div>
                    </li>
              		<li>
                        <a href="/media/site_images/splash2.jpg"></a>

                        <div style="top:0; left:613px; width:347px; height:238px; color:#FFF; background-color:#000;">
                            <h5>High Performance Computing</h5>
                            <p style=padding-top:0;>A few examples of HPC technologies are the simulation of car crashes for structural design, molecular interaction for new drug design and the airflow over automobiles or airplanes. </p>
                      	</div>
                  	</li>
              	</ul>
          </div>
      </div>
    </div></div>
</div>


<div class="divider"></div>
{% endblock %}
