{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<!--  RIGHT SIDE -->
<div class="right-side">
<h1 style=padding-left:20px;>CONTACT INFO</h1>
<div class="right-menu">
<p><strong>Advanced Visualization Laboratory</strong><br>
MS Building 1.03.06N<br>
The University of Texas at San Antonio<br>
One UTSA Circle<br>
San Antonio, Texas 78249<br>
(210) 458.6570<br><br>
<strong>How to get to the VizLab</strong><br>
<a href=../media/site_images/VizLabMap.jpg target=_blank><img src=../media/site_images/vizlabmapthumb.png></a></p>



</div>

</div>


<!--  LEFT SIDE -->
<h1>CONTACT THE <span>VIZLAB</span></h1>
<div class="textholder">



<form name="contactform" method="post" action="/contact/">
<div id="contactform" class=formsyeah>
<table width="100%">
<tr>
 <td valign="top">
  <label for="id_name">Name *</label>
 </td>
 <td valign="top">
 {{ form.name }}
 <span class=tip>{{ form.name.help_text }} {{ form.name.errors }}</span>
 </td>
</tr>

<tr>
 <td valign="top">
  <label for="id_phone">Phone *</label>
 </td>
 <td valign="top">
 {{ form.phone }}
 <span class=tip>{{ form.phone.help_text }} {{ form.phone.errors }}</span>
 </td>
</tr>

<tr>
 <td valign="top">
  <label for="id_email">Email Address *</label>
 </td>
 <td valign="top">
 {{ form.email }}
 <span class=tip>{{ form.email.help_text }} {{ form.email.errors }}</span>
 </td>
</tr>

<tr>
 <td valign="top">
  <label for="id_subject">Subject *</label>
 </td>
 <td valign="top">
 {{ form.subject }}
 <span class=tip>{{ form.subject.help_text }} {{ form.subject.errors }}</span>
 </td>
</tr>

<tr>
 <td valign="top">
  <label for="id_message">Comments *</label>
 </td>
 <td valign="top">
 {{ form.message }}
 <span class=tip>{{ form.message.help_text }} {{ form.message.errors }}</span>
 </td>
</tr>

<tr>
 <td valign="top">
  <label for="id_cc_myself">Send me a copy</label>
 </td>
 <td valign="top">
 {{ form.cc_myself }}
 <span class=tip>{{ form.cc_myself.help_text }} {{ form.cc_myself.errors }}</span>
 </td>
</tr>


<tr>
 <td valign="top">
  <label for="id_captcha">Confirm you are human *</label>
 </td>
 <td valign="top">
 {{ form.captcha }}
 <span class=tip>{{ form.captcha.help_text }} {{ form.captcha.errors }}</span>
 </td>
</tr>

<tr>
 <td colspan="2" style="text-align:center">
  <input type="submit" value="Submit">
 </td>
</tr>
</table>
</div>
</form>
</p>


</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}
