{% extends "base.html" %}

{% block title %}
FAQ
{% endblock %}

{% block content %}


<!--  START CONTENT -->


<!--  LEFT SIDE -->
<h1>FREQUENTLY ASKED QUESTIONS</span></h1>
<div class="textholder_wide">
<h3>VizLab</h3>
<p><span>Q: What is the Advanced Visualization Laboratory(VizLab)?</span><br>
A: The UTSA Advanced Visualization Laboratory, established and managed by the College of Engineering, allows researchers from all disciplines of art, science and engineering to conduct simulation and visualization research to better understand complex phenomena and translate data into images on large-scale and high resolution visualization walls or other display devices.<br><br>

<span>Q: What file types can be shown on the Visualization Wall(VizWall)?</span><br>
A: Currently, the VizWall can display picture and video files only. We have tested working: jpg, gif, tif, png, bmp, mov, avi, mp4, mpg.<br><br>

<span>Q: What is located in the VizLab?</span><br>
A: The VizLab contains an 82" 3D DLP TV, HD2 Quanser haptic device, SMART board, 24 monitor VizWall and 144 core CPU cluster with 24 Quadro FX 5800 graphics cards.<br><br>

<span>Q: Where is the VizLab located?</span><br>
A: MS 1.03.06N<br><br>

<span>Q: How many people can be in the VizLab at one time? What if I want to bring more people?</span><br>
A: About 20 visitors plus the presenters can be in the VizLab as the same time. We can rotate through groups of 20 people if needed.<br><br>

<span>Q: How long has the VizLab been at UTSA?</span><br>
A: The VizLab has been at UTSA since January 2011. The Grand Opening was May 17, 2011.</p>


<h3>NEMO/VizWall</h3><p>
<span>Q: What is NEMO?</span><br>
A: NEMO is the high performance CPU cluster that powers the VizWall. It also includes 24 graphics cards for GPGPU programming.<br><br>

<span>Q: What is the Visualization Wall?</span><br>
A: The Visualization Wall is the 14.5 foot x 6 foot tall tiled display of 24 30" 2560x1600 monitors.<br><br>

<span>Q: What is the difference between NEMO and VizWall?</span><br>
A: NEMO is the computer that powers VizWall.<br><br>

<span>Q: Does VizWall display Adobe, PDF?</span><br>
A: The VizWall cannot currently show Adobe files. We are working on displaying PDF files in the future. PDF files can also be converted to picture files. Please contact us if you have trouble converting and we can be of assistance.<br><br>

<span>Q: What is the resolution of VizWall?</span><br>
A: The VizWall is 2560x1600 * 24 = 98 million pixels(98MP) or 15360 x 6400 resolution.<br><br>

<span>Q: Is there anything that can be done with the 'black bars' on the VizWall?</span><br>
A: Sage can be started to hide the pixels behind the black bars to display a window-like screen. All the pixels can also be displayed and nothing will be hidden.<br><br>

<span>Q: Can I use PowerPoint on VizWall?</span><br>
A: No, but PowerPoint Slides can be saved as pictures to be used to display on the VizWall.<br><br>

<span>Q: Can I use an Internet Browser on VizWall?</span><br>
A: The VizWall cannot display an Internet Browser</p>

<h3>3DTV</h3><p>
<span>Q: What can I show on the 3D TV?</span><br>
A: The 3D TV uses NVIDIA 3D Vision software for 3D content. It can display 3D images or videos.<br><br>

<span>Q: How large is the 3DTV?</span><br>
A: 82" diagonally.</p>

<h3>Haptics</h3><p>
<span>Q: What haptic devices are in the VizLab?</span><br>
A: Currently, the Phantom OMNI and Quanser HD2 are in the VizLab.<br><br>

<span>Q: What software do the haptic devices use?</span><br>
A: The OMNI uses CHAI3D. The HD2 uses Matlab/Simulink and Quanser software.
</p>


</div>



<div class="clear"></div>

{% endblock %}
