{% extends "base.html" %}

	{% block title %}
	Welcome
	{% endblock %}

{% block content %}


<!--  LEFT SIDE -->
<h1><span>VIZLAB</span> GALLERY - HAPTIC DEVICES</h1>
<div class="textholder_wide" style=padding:20px;>

<div id="mygalone" class="svw">
    <ul>
    <li><img alt="Haptic Devices" src="http://vizwall.platinummonkey.com/media/site_images/gal2/pic1_s.jpg" /></li>
    <li><img alt="Haptic Devices" src="http://vizwall.platinummonkey.com/media/site_images/gal2/pic2_s.jpg" /></li>
    <li><img alt="Haptic Devices" src="http://vizwall.platinummonkey.com/media/site_images/gal2/pic3_s.jpg" /></li>
    <li><img alt="Haptic Devices" src="http://vizwall.platinummonkey.com/media/site_images/gal2/pic4_s.jpg" /></li>
    <li><img alt="Haptic Devices" src="http://vizwall.platinummonkey.com/media/site_images/gal2/pic5_s.jpg" /></li>
    </ul>
    </div>

</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}