{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}



<!--  LEFT SIDE -->
<h1><span>VIZLAB</span> GALLERY - VIZWALL</h1>
<div class="textholder_wide" style=padding:20px;>

<div id="mygalone" class="svw">
    <ul>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic1_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic2_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic3_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic4_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic5_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic6_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic7_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic8_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic9_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic10_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic11_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic12_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic13_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic14_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic15_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic16_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic17_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic18_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic19_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic20_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic21_s.jpg" /></li>
    <li><img alt="Visualization Wall" src="http://vizwall.platinummonkey.com/media/site_images/gal1/pic22_s.jpg" /></li>
    </ul>
    </div>

</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}