{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}



<!--  LEFT SIDE -->
<h1><span>VIZLAB</span> IN THE NEWS</h1>
<div class="textholder_wide">

<div class="newsitem">
<div class="newsthumb"><a href="http://vizwall.platinummonkey.com/news/101"><img src="http://vizwall.platinummonkey.com/media/site_images/news_thumb_1.jpg"></a></div>
<h1>UTSA Opens High-Tech Visual Lab <span><i> - May 18, 2011</span></i></h1>
<p>At the University of Texas at San Antonio's new Advanced Visualization Laboratory, visitors can administer a shot to a patient - without the patient or the shot. <br><i><a href="http://vizwall.platinummonkey.com/news/101">Read More</a></i></p>
</div>

<div class="newsitem">
<div class="newsthumb"><a href="http://vizwall.platinummonkey.com/news/102"><img src="http://vizwall.platinummonkey.com/media/site_images/news_thumb_2.jpg"></a></div>
<h1>UTSA Opens Advanced Visualization Lab<span><i> - May 17, 2011</span></i></h1>
<p>The University of Texas at San Antonio has demonstrated once again that it is a force to be reckoned with in the race to Tier One.  <br><i><a href="http://vizwall.platinummonkey.com/news/102">Read More</a></i></p>
</div>

<div class="newsitem">
<div class="newsthumb"><a href="http://vizwall.platinummonkey.com/news/103"><img src="http://vizwall.platinummonkey.com/media/site_images/news_thumb_3.jpg"></a></div>
<h1>Advanced Visual Lab Comes to UTSA<span><i> - May 17, 2011</span></i></h1>
<p>The University of Texas-San Antonio unveiled its state-of-the-art Advanced Visualization Laboratory on Tuesday. The lab features hundreds of thousands of dollars... <br><i><a href="http://vizwall.platinummonkey.com/news/103">Read More</a></i></p>
</div>

<div class="newsitem">
<div class="newsthumb"><a href="http://vizwall.platinummonkey.com/news/104"><img src="http://vizwall.platinummonkey.com/media/site_images/news_thumb_4.jpg"></a></div>
<h1>UTSA Engineers win Funding to Build Vis-Wall<span><i> - January 17, 2011</span></i></h1>
<p>The College of Engineering at The University of Texas at San Antonio (UTSA) announced today that it plans to build a sophisticated visualization wall (Vis-Wall)...<br><i><a href="http://vizwall.platinummonkey.com/news/104">Read More</a></i></p>
</div>



</div>


<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}