{% extends "base.html" %}

{% block title %}
Thank You
{% endblock %}

{% block content %}



<!--  LEFT SIDE -->
<h1><span>VizLab</span> in the news</h1>
<div class="textholder_wide">
<h2>UTSA opens high-tech visual lab: Tech empowers researchers to see, touch in new ways.</h2>
<p>
UTSA opens high-tech visual lab
<br><br>
Tech empowers researchers to see, touch in new ways.
<br><br>
By Melissa Ludwig mludwig@express-news.net
<br><br>
Updated 12:02 a.m., Wednesday, May 18, 2011
<br><br>
At the University of Texas at San Antonio's new Advanced Visualization Laboratory, visitors can administer a shot to a patient - without the patient or the shot.
<br><br>
Clutching a pen-like device, visitors move their hands to guide a needle on a computer screen, and the "haptic" device reproduces the sensation as the needle pierces skin.
<br><br>
"Oh man, that is what it feels like. I used to give my wife shots," said Steve Sofhauser, who attended the lab's grand opening Tuesday.
<br><br>
In addition to haptic devices, the lab features a 3-D television and a visualization wall of Dell monitors that stands 141/2 feet wide and 6 feet tall.
<br><br>
Together, they allow researchers to see and touch the digital models they create in the course of research.
<br><br>
Funded with a three-year, $482,600 grant from the National Science Foundation, the lab could be useful for just about any field, from molecular biology to art and music.
<br><br>
With 98 megapixels, the visualization wall can display large-scale, high-definition pictures such as a cityscape, and zoom to the level where you see people walking on the street.
<br><br>
It can display entire galaxies, or magnify a Van Gogh painting to reveal every crack and brush stroke. It can also simulate a beating heart and blood flow through vessels to help doctors make precise treatment decisions.
<br><br>
"Facilities like this stretch us to the future," said John Frederick, UTSA's provost. "It is a terrific opportunity for students to see the world in new ways."
<br><br>
For researchers, it can give form and shape to data that would otherwise be numbers on a spreadsheet. For instance, one research group built a visual model of the way nanoparticles of titanium dioxide cluster in water, which can help determine the environmental effect of products such as sunscreen and makeup.
<br><br>
The lab could have industry uses as well, said Ricardo Romo, president of UTSA, such as training crane operators before putting them in an expensive and dangerous machine.
<br><br>
"I feel like it's the dawning of a new era," Romo said. "We are doing some advanced, innovative work."
<br><br>
To learn more about the Advanced Visualization Laboratory or to schedule a tour, visit http://viswall.utsa.edu.
<br><br>
Published: Tuesday, May. 17, 2011 Updated: Tuesday, May. 17, 2011
</P>



</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}