{% extends "base.html" %}

{% block title %}
Thank You
{% endblock %}

{% block content %}



<!--  LEFT SIDE -->
<h1><span>VizLab</span> in the news</h1>
<div class="textholder_wide">
<h2>UTSA Opens Advanced Visualization Laboratory to Promote Computer-Based Research</h2>
<p>
Tuesday May 17th, 2011
<br><br>
UTSA Opens Advanced Visualization Laboratory to Promote Computer-Based Research
<br><br>
Integration of sophisticated haptic device and visualization wall will allow researchers to precisely interact with digital simulations
<br><br>
The University of Texas at San Antonio has demonstrated once again that it is a force to be reckoned with in the race to Tier One.
<br><br>
The emerging research institution, one of seven in Texas, unveiled its Advanced Visualization Laboratory today, a technology-laden facility that allows researchers from engineering, science and art to translate large amounts of data into large-scale images to better understand complex phenomena. See photos at http://vislab.utsa.edu.
<br><br>
"The Advanced Visualization Laboratory on our Main Campus is an amazing place that cannot be described with words," said UTSA President Ricardo Romo. "One has to visit the lab to truly understand its potential to enhance research, teaching and industry in South Texas. The haptic devices and the images on the VisWall are an unparalleled experience."
<br><br>
The UTSA Advanced Visualization Laboratory is anchored by a 98 Mpixel, 14.5-foot-wide by six-foot-tall visualization wall created using two dozen 30" Dell UltraSharp Widescreen U3011 monitors. The visualization wall is driven by a high-performance computing cluster comprised of 12 high-speed graphics-enhanced LINUX workstations. An InfiniBand communications network operating at 40 Gigabits per second connects the 12 computing nodes.
<br><br>
The laboratory's distinguishing feature is a Quanser HD2 high definition haptic device, a sophisticated tool that can be integrated with the visualization wall and the laboratory's 3-D television to allow researchers to touch and feel the digital models they create in the course of their research. The haptic device provides six degrees of freedom motion and five degrees of freedom force/torque feedback, making it an ideal tool to practice surgical simulations and other techniques.
<br><br>
Initial projects slated for the laboratory include, but are not limited to: multi-scale modeling for computational biology and biomedicine the design and performance of autonomous underwater vehicles fatigue and fracture of advanced structural systems flash flooding research analysis methods to predict the damage formation and failure of skeletal tissues the development of cancer surgical simulation and real-time monitoring systems
<br><br>
The UTSA Advanced Visualization Laboratory is managed by the UTSA College of Engineering's Department of Mechanical Engineering and supports UTSA's missions of teaching, research, community engagement and faculty recruitment.
<br><br>
It is funded by a three-year, $482,600 grant awarded October 1, 2009 by the National Science Foundation.
<br><br>
To learn more about the Advanced Visualization Laboratory or to schedule a tour, visit http://viswall.utsa.edu.
<br><br>
UTSA is one of the fastest growing higher education institutions in Texas and the third largest of nine academic universities and six health institutions in the UT System. As a multicultural institution of access and excellence, UTSA aims to be a national research university providing access to educational excellence and preparing citizen leaders for the global environment.
<br><br>
UTSA serves more than 30,000 students in more than 130 degree programs in the colleges of Architecture, Business, Education and Human Development, Engineering, Honors, Liberal and Fine Arts, Public Policy, Sciences and the Graduate School. Founded in 1969, UTSA is an intellectual and creative resource center and a socioeconomic development catalyst for Texas and beyond. Learn more at www.utsa.edu.
<br><br>
Read more: http://www.bradenton.com/2011/05/17/v-print/3201842/utsa-opens-advanced-...

</P>



</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}