{% extends "base.html" %}

{% block title %}
Thank You
{% endblock %}

{% block content %}



<!--  LEFT SIDE -->
<h1><span>VizLab</span> in the news</h1>
<div class="textholder_wide">
<h2>UTSA Engineers Win Funding to Build Vis-Wall System for Scientific Research and Education</h2>
<p>
Monday January 17th, 2011<br><br
<br><br>
San Antonio...  You've seen one on the hit television show "24." And you've seen one on the set of American Idol. Soon, you'll be able to see one in San Antonio, too.
<br><br>
The College of Engineering at The University of Texas at San Antonio (UTSA) announced today that it plans to build a sophisticated visualization wall (Vis-Wall), following the receipt of a $482,600, three-year grant from the National Science Foundation. The Vis-Wall will be used to display computational models developed in UTSA's new computation center, the Simulation, Visualization and Real-Time Prediction (SiViRT) Center and by other UTSA faculty, in the course of research and teaching.
<br><br>
"A significant part of the research we do in the College of Engineering is based on computational modeling," said Mauli Agrawal, dean of UTSA's College of Engineering. "In putting together this proposal, we initially found 13 projects that could benefit greatly from having a large-scale visualization system. This grant will give our researchers a place to display their data, test their models and draw conclusions with extreme accuracy."
<br><br>
Yusheng Feng, associate professor of mechanical engineering and director of the Computational Bioengineering and Nanomechanics Lab in UTSA's Department of Mechanical Engineering, is a principal investigator (PI) of UTSA's NSF proposal for the new visualization system. Co-PIs Ruyan Guo, Harry Millwater, Brent Nowak and Heather Shipley-all faculty in UTSA's College of Engineering-contributed greatly to the proposal.
<br><br>
"Visualization is now so vital to almost all engineering and scientific disciplines that it can greatly enhance our ability to understand physical phenomena by building up digital representations-mathematical and computer models-and displaying complex experimental data in a comprehensible fashion," said Feng. "In my current area of computational cancer research, this new visualization system will be able to display physical and biological systems, from nano- and micro-scale level objects such as nanoparticles and DNA molecules up to meso- and macro-scale entities like cells, tissues and tumors, all at the same time."
<br><br>
Currently, sixteen UTSA faculty members in the Colleges of Engineering and Science are involved and have expressed interest in using the Vis-Wall, which will boast ultra-high resolution and interactivity. Initially the new hardware will be used to:
<br><br>
simulate real-time cancer treatments using image-guided laser or other thermotherapies, and visualize predicted outcomes;
<br><br>
investigate an underwater robot's design and its real-time performance in an interactive graphical environment;
<br><br>
quantify and display uncertainties in complex and multidimensional data sets for system reliability or chaotic motions involving nanomaterials.
<br><br>
The 15 foot wide and 4.5 foot tall Vis-Wall, which will be comprised of two dozen 30" monitors, is one of three hardware components that will be included in UTSA's new visualization system. The system will also include 25 high-end graphics-enhanced high-end LINUX workstations, integrated as a cluster, to drive the Vis-Wall. One of those units will serve as a head node to manage the cluster while the other 24 units will map images to the tiled display. In addition, the system will include an advanced multi-functional haptic device which is shaped like a robotic arm and behaves like a joystick. This component will provide human-machine interaction, which emulates touching and control over position that is sensed as it performs rolling, pitching and yawing motions.
<br><br>
The visualization system will be housed in a central location on UTSA campus where it can be leveraged to enhance engineering and technology-related education and community outreach by faculty on the UTSA campus.
<br><br>
# # #
<br><br>
About the University of Texas at San Antonio
<br><br>
The University of Texas at San Antonio is one of the fastest growing higher education institutions in Texas and the second largest of nine academic universities and six health institutions in the UT System. As a multicultural research and teaching institution of access and excellence, UTSA aims to be the Next Great Texas University, providing access to educational excellence and preparing citizen leaders for the global environment.
<br><br>
UTSA serves nearly 29,000 students in 64 bachelor's, 48 master's and 21 doctoral degree programs in the colleges of Architecture, Business, Education and Human Development, Engineering, Honors, Liberal and Fine Arts, Public Policy, Sciences and Graduate School. Founded in 1969, UTSA is an intellectual and creative resource center and a socioeconomic development catalyst for Texas and beyond.


</P>



</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}