{% extends "base.html" %}

{% block title %}
Thank You
{% endblock %}

{% block content %}



<!--  LEFT SIDE -->
<h1><span>VizLab</span> in the news</h1>
<div class="textholder_wide">
<h2>Advanced Visualization Lab Comes To UTSA</h2>
<p>
State-Of-The-Art Equipment Aides In Research, Learning
<br><br>
Justin Horne, KSAT 12 News Reporter
<br><br>
POSTED: Tuesday, May 17, 2011
<br><br>
SAN ANTONIO -- The University of Texas-San Antonio unveiled its state-of-the-art Advanced Visualization Laboratory on Tuesday. The lab features hundreds of thousands of dollars worth of equipment that may be the future of college education.
<br><br>
"This technology is cutting edge. It adds a whole new dimension to research, and teaching," said Dr. Mauli Agrawal, dean of engineering at UTSA.
<br><br>
The lab includes a 3D monitor and a 14 1/2-foot-wide by 6-foot-tall visualization wall that contains two dozen 30-inch high definition wide-screen monitors.
<br><br>
"It's not the only one of its kind in the world, but very few universities have something quite like this," said Dr. John Frederick, provost for Academic Affairs at UTSA.
<br><br>
The prized possession of the lab, however, is a high-definition haptic device. The device works like a Nintendo Wii for scientists and engineers. It allows researchers to touch and feel digital models they create. It also recreates the feel of a surgical procedure.
<br><br>
"If you were a surgeon in training, it's a device that you could use, with a visual image on the computer screen, be able to feel what it feels like to perform open-heart surgery," said Frederick.
<br><br>
"Now when you teach a student, you don't teach them on paper, you can actually make them feel it and actually let them see it, so you add more senses," added Agrawal.
<br><br>
Future projects in the lab include the design of underwater vehicles and cancer surgery simulations.
<br><br>
"I think the future generation will have a leg up when they get educated on systems like this," said Agrawal.
<br><br>
The lab is funded by a three-year, $482,600 grant from the National Science Foundation

</P>



</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}