
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<!-- Mimic Internet Explorer 7 -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
<head>
<title>UTSA VizLab - Advanced Visualization Laboratory</title>
<link rel="stylesheet" type="text/css" href="../../media/css/style.css">
<link href="../../media/css/dropdown.css" media="screen" rel="stylesheet" type="text/css" />


</head>
<body>
<div id="container">
	<div id="header"></div>
	<div id="body1">
    <div id="logo"><img src="../../media/site_images/logo.png"></div>
	<ul id="nav" class="dropdown dropdown-horizontal">
	     <li><a href="./">Home</a></li>
	     <li class="dir">About Us
	      <ul>
	       <li><a href="./">History</a></li>
	       <li><a href="./">Our Vision</a></li>
	       <li class="dir"><a href="./">The Team</a>
	        <ul>
	         <li><a href="./">Brigita</a></li>
	         <li><a href="./">John</a></li>
	         <li><a href="./">Michael</a></li>
	         <li><a href="./">Peter</a></li>
	         <li><a href="./">Sarah</a></li>
	        </ul>
	       </li>
	       <li><a href="./">Clients</a></li>
	       <li><a href="./">Testimonials</a></li>
	       <li><a href="./">Press</a></li>
	       <li><a href="./">FAQs</a></li>
	      </ul>
	     </li>
	     <li class="dir">Services
	      <ul>
	       <li><a href="./">Product Development</a></li>
	       <li><a href="./">Delivery</a></li>
	       <li><a href="./">Shop Online</a></li>
	       <li><a href="./">Support</a></li>
	       <li><a href="./">Training &amp; Consulting</a></li>
	      </ul>
	     </li>
	     <li class="dir">Products
	      <ul>
	       <li class="dir"><a href="./">New</a>
	        <ul>
	         <li><a href="./">Corporate Use</a></li>
	         <li><a href="./">Private Use</a></li>
	        </ul>
	       </li>
	       <li class="dir"><a href="./">Used</a>
	        <ul>
	         <li><a href="./">Corporate Use</a></li>
	         <li><a href="./">Private Use</a></li>
	        </ul>
	       </li>
	       <li><a href="./">Featured</a></li>
	       <li><a href="./">Top Rated</a></li>
	       <li><a href="./">Prices</a></li>
	      </ul>
	     </li>
	     <li><a href="./">Gallery</a></li>
	     <li><a href="./">Events</a></li>
	     <li><a href="./">Careers</a></li>
	     <li class="dir rtl"><a href="./">Contact Us</a>
	      <ul>
	       <li><a href="./">Enquiry Form</a></li>
	       <li class="dir"><a href="./">Map &amp; Driving Directions</a>
	        <ul>
	         <li><a href="./">Map</a></li>
	         <li><a href="./">Driving Directions</a></li>
	        </ul>
	       </li>
	       <li><a href="./">Your Feedback</a></li>
	</ul>
	</li>
	</ul>
	<div id="content">
	<div id="splash"><img src="../../media/site_images/splash.png"></div>

	<div class="divider"></div>
	<div id="titletag"><h1>About Us</h1></div>

	<div class="right-side">
	<div class="right-menu">
		<h3>MISSION</h3>
		<p>The Center's mission is to create a collaborative and interactive research infrastructure that will significantly improve the capabilities of UTSA faculty and will provide information, education and training opportunities to science and engineering students.</p>
	</div>



	<div class="right-menu">
		<h3>VISION</h3>
		<p>The Center's vision is to create a research center that will be in the forefront of scientific research in the areas of Simulation, Visualization and Real Time Prediction.  Through the effective integration of education and research, the center will promote the development of new knowledge, enhance the research productivity of UTSA faculty, and will educate and assist students to meet the needs of the workforce.</p>
	</div>

	<div class="right-menu">
		<h3>About the Director</h3>
		<div class="portrait"><img src="images/michaelides-portrait.jpg"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at volutpat sem. Aenean tincidunt tempus augue. Integer lacinia purus mattis turpis pharetra porttitor. Fusce pulvinar mauris fermentum quam malesuada vel facilisis nulla interdum. Sed adipiscing, ligula id semper ornare, turpis est malesuada quam, eu dignissim lectus ipsum a erat.</p>
	</div>
	</div>

	<div class="textholder">
	<div class="portrait" style="float:right;margin-right:0;"><img src="images/nsf-round.png"></div>
	<p>SiViRT is a Center of Research Excellence in Science and Technology (CREST) program makes resources available to enhance the research capabilities of minority-serving institutions through the establishment of centers that effectively integrate education and research.  CREST promotes the development of new knowledge, enhancements of the research productivity of individual faculty, and an expanded presence of students historically underrepresented in STEM disciplines.</p>

	<h2>Objectives
	<ol style="text-transform:none;font-variant:none;">
		<li><p>To have a minimum of two archival publications annually per investigator co-authored with a student researcher.</p></li>
		<li>Starting in year two to have a minimum of four journal publications co-authored by multiple authors who are coPI’s in this proposal (multidisciplinary papers).</li>
		<li>Starting in year two, to host a minimum of three senior researcher visitors annually.</li>
		<li>Starting in year two to organize an annual international research symposium/workshop and, by year five, to attract a major international conference to San Antonio.</li>

		<li>Starting in year four to have at least three papers annually that receive more than ten citations.</li>
		<li>To conduct annually at least twenty information sessions in high schools of the region on Science, Engineering and the research activities of the center.</li>
		<li>To attract annually a minimum of fifty High school students and a minimum of eight high school counselors to participate in the center’s summer camps.</li>
		<li>To have at least twelve undergraduate URM students participating in the educational and research activities of the faculty affiliated with the center.</li>
		<li>To have a minimum of ten graduate URM students conducting thesis or dissertation research under the advisement and mentoring of center faculty.</li>
		<li>Starting with the second year and continuing, to have at least four URM students graduating with masters degrees annually.</li>

		<li>Starting with year four and continuing, to have at least four URM students graduating with doctoral degrees annually.</li>
		<li>By year four to leverage the center’s resources with other funds in order to double the support of undergraduate and graduate student researchers working with center faculty.</li>
		<li>By the fifth year of this grant to have assured the continuing operation of the SiViRT center with at least equivalent support from other funding sources.</li>

	</ol>

	<h2>Goals</h2>
	<ul>
		<li>To become the focus of research activity at UTSA and UTHSCSA in computational and visualization research activities and attract a larger number of senior and junior investigators.</li>
	    <li>To conduct internationally recognized research</li>
	    <li>To become a focus for URM undergraduate students and URM student organizations, to bring them into the activities of the center and to motivate them to pursue graduate degrees.</li>
	    <li>To become a pole of attraction for URM graduate students to become active researchers of the center and encourage them to pursue and complete doctoral degrees.</li>
	    <li>To successfully mentor these graduate students in order to enable them to complete their graduate degrees and to pursue careers in education and research.</li>
	    <li>To become a major source of information on careers in science and engineering and to high school students in the South Texas region.</li>
	    <li>To become a pole of attraction for high school students to science and engineering careers.</li>
	    <li>To sustain the operations and activities of the SiViRT center beyond the duration of this grant.</li>
	</ul>




	<div class="clear"></div>




</div>
	</div>
	</div>

</div>
<div id="footer">
<div id="footer2">
<center>
<table border=0 width=97%>
<tr>
	<td width=34% align=left valign=top>
	Copyright &copy; 2011. All Rights Reserved.<br>
	The Center for Simulation,Vizualization, and Real Time Prediction<br>
	College of Engineering, The University of Texas at San Antonio
	</td>
	<td width=11% align=left valign=top>
	<a href=#>SIVIRT HOME</a><br>
	<a href=#>CONTACT</a>
	</td>
	<td width=11% align=left valign=top>
	<a href=#>ABOUT</a><br>
	<a href=#>Mission & Objectives</a><br>
	<a href=#>SiViRT People</a><br>
	<a href=#>Financial Support</a><br>
	</td>
	<td width=11% align=left valign=top>
	<a href=#>RESEARCH</a><br>
	<a href=#>Research Overview</a><br>
	<a href=#>Task Initiatives</a><br>
	<a href=#>Grant Awards</a><br>
	</td>

	<td width=11% align=left valign=top>
	<a href=#>STUDENT SUPPORT</a><br>
	<a href=#>Research Internship</a><br>
	<a href=#>Forms & Applications</a><br>
	</td>

	<td width=11% align=left valign=top>
	<a href=#>PUBLICATIONS</a><br>
	<a href=#>Scientific Journals</a><br>
	<a href=#>Books and Other</a><br>
	</td>

	<td width=11% align=center valign=top><img src="images/utsa-logo.png">
	</td>
</tr>
</table>
</center>
</div>
</div>
</div>
</body>
</html>