{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}



<!--  LEFT SIDE -->
<h1>RESEARCH</span></h1>
<div class="textholder_wide">
<p>The UTSA Advanced Visualization Laboratory will primarily be used by UTSA researchers in science, engineering and statistics who need to translate complex data sets into easily-interpretable graphic representations. Research projects slated for the Vis-Wall include: </p>
<ul>

<li>The development of cancer surgical simulation and real-time monitoring system</li>
<li>Visualization of multi-scale modeling for computational biology and biomedicine</li>
<li>The design and performance of autonomous underwater vehicles</li>
<li>Fatigue and fracture of advanced structural systems</li>
<li>Flash flooding research analysis</li>
<li>Methods to predict the damage formation and failure of skeletal tissues</li>
</ul>


</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}