{% extends "base_customadmin.html" %}

{% block admintitle %}
Edit Account
{% endblock %}


{% block content %}

<!--  START CONTENT -->
<!--  LEFT SIDE -->
<h1>EDIT ACCOUNT</span></h1>
<div class="textholder_wide">
<h2>Account Information</h2>
<form action="/admin/accounts/edit/{{ user_id }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form.non_field_errors }}
<table cellpadding=0 cellspacing=0 class=eventtable>
<tr class=eventrow>
<td class=eventtd width=40%> {{ form.username.errors }}
<label for="id_username">Username <span>*</span></label>
</td>
<td class=eventtd>
{{ form.username }}
<span class=tip>{{ form.username.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.firstname.errors }}
<label for="id_firstname">First Name <span>*</span></label>
</td>
<td class=eventtd>
{{ form.firstname }}
<span class=tip>{{ form.firstname.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.lastname.errors }}
<label for="id_lastname">Last Name <span>*</span></label>
</td>
<td class=eventtd>
{{ form.lastname }}
<span class=tip>{{ form.lastname.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.formal_prefix.errors }}
<label for="id_formal_prefix">Formal Prefix</label>
</td>
<td class=eventtd>
{{ form.formal_prefix }}
<span class=tip>{{ form.formal_prefix.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.email.errors }}
<label for="id_email">Email <span>*</span></label>
</td>
<td class=eventtd>
{{ form.email }}
<span class=tip>{{ form.email.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.image.errors }}
<label for="id_image">Profile Picture</label>
</td>
<td class=eventtd>
{{ form.image }}
<span class=tip>{{ form.image.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.faculty_position.errors }}
<label for="id_faculty_position">Faculty Position</label>
</td>
<td class=eventtd>
{{ form.faculty_position }}
<span class=tip>{{ form.faculty_position.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.faculty_webpage.errors }}
<label for="id_faculty_webpage">Faculty Webpage</label>
</td>
<td class=eventtd>
{{ form.faculty_webpage }}
<span class=tip>{{ form.faculty_webpage.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.staff_position_number.errors }}
<label for="id_staff_position_number">Staff Position Number <span>*</span></label>
</td>
<td class=eventtd>
{{ form.staff_position_number }}
<span class=tip>{{ form.staff_position_number.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.rank_order.errors }}
<label for="id_rank_order">Rank Order <span>*</span></label>
</td>
<td class=eventtd>
{{ form.rank_order }}
<span class=tip>{{ form.rank_order.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_staff.errors }}
<label for="id_is_staff">Is Moderator <span>*</span></label>
</td>
<td class=eventtd>
{{ form.is_staff }}
<span class=tip>{{ form.is_staff.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_superuser.errors }}
<label for="id_is_superuser">Is SuperUser <span>*</span></label>
</td>
<td class=eventtd>
{{ form.is_superuser }}
<span class=tip>Full control over website - Reserve for Webmaster!</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_leadership_team.errors }}
<label for="id_is_leadership_team">Is Leadership Team <span>*</span></label>
</td>
<td class=eventtd>
{{ form.is_leadership_team }}
<span class=tip>{{ form.is_leadership_team.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_vizlab_staff.errors }}
<label for="id_is_vizlab_staff">Is Vizlab Staff <span>*</span></label>
</td>
<td class=eventtd>
{{ form.is_vizlab_staff }}
<span class=tip>{{ form.is_vizlab_staff.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_demo_presenter.errors }}
<label for="id_is_demo_presenter">Is Demo Presenter <span>*</span></label>
</td>
<td class=eventtd>
{{ form.is_demo_presenter }}
<span class=tip>{{ form.is_demo_presenter.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_scheduler.errors }}
<label for="id_is_scheduler">Is Scheduler <span>*</span></label>
</td>
<td class=eventtd>
{{ form.is_scheduler }}
<span class=tip>{{ form.is_scheduler.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_event_emails_only.errors }}
<label for="id_is_event_emails_only">Event Email Force Opt-In</label>
</td>
<td class=eventtd>
{{ form.is_event_emails_only }}
<span class=tip>{{ form.is_event_emails_only.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_force_no_emails.errors }}
<label for="id_is_force_no_emails">Force No Emails</label>
</td>
<td class=eventtd>
{{ form.is_force_no_emails }}
<span class=tip>{{ form.is_force_no_emails.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.is_active.errors }}
<label for="id_is_active">Active User</label>
</td>
<td class=eventtd>
{{ form.is_active }}
<span class=tip>{{ form.is_active.help_text }}</span>
</td>
</tr>
<tr class=eventrow>
<td class=eventtd> {{ form.reset_password.errors }}
<label for="id_reset_password">Reset Password</label>
</td>
<td class=eventtd>
{{ form.reset_password }}
<span class=tip>{{ form.reset_password.help_text }}</span>
</td>
</tr>
<!-- ERROR OUTPUT --> <!-- The timeslot you selected has already been reserved. please select another date -->
<tr class=eventrow>
<td class=eventtd colspan=2>
{% for field in form %}
<span class=error>{{ field.errors }}</span>
{% endfor %}
</td>
</tr>
<!-- /ERROR OUTPUT -->

<tr class=eventrow>
<td class=eventtd>
</td>
<td class=eventtd>
<input type="submit" value="Update User">
</td>
</tr>
</table>
</div>



<div class="clear"></div>

<!--  END CONTENT -->
{% endblock %}
