{% extends "base-admin.html" %}
{% load pagination_tags %}

{% block title %}
Accounts
{% endblock %}

{% block content %}


<!--  START CONTENT -->

<!--  LEFT SIDE -->
<h1>MANAGE ACCOUNTS</h1>
<div class="textholder_wide">
<h2>Filter <a id="filterImageLink" href="javascript:toggleFilter('filterContentDiv', 'filterImageLink');"><img align=right src="/media/site_images/down_arrow.gif"></a></h2>
<div id="filterContentDiv" style="display: none;">
<form action="/admin/accounts/" method="get">{% csrf_token %}

<div class=filter_table>
<table cellpadding=0 cellspacing=0 width=100%>
<tr>
<td class=eventtd width=20%> {{ filter.form.username.errors }}
<label for="id_username">Username</label>
</td>
<td class=eventtd>
{{ filter.form.username }}
</td>
<td><h4 style=padding:0;margin:0;>User Permissions</h4></td><td></td>
</tr>
<tr>
<td class=eventtd> {{ filter.form.first_name.errors }}
<label for="id_first_name">First Name</label>
</td>
<td class=eventtd>
{{ filter.form.first_name }}
</td>
<td class=eventtd> {{ filter.form.profile__is_scheduler.errors }}
<label for="id_profile__is_scheduler">Scheduler</label>
</td>
<td class=eventtd>
{{ filter.form.profile__is_scheduler }}
</td>
</tr>
<tr>
<td class=eventtd> {{ filter.form.last_name.errors }}
<label for="id_last_name">Last Name</label>
</td>
<td class=eventtd>
{{ filter.form.last_name }}
</td>
<td class=eventtd> {{ filter.form.profile__demo_presenter.errors }}
<label for="id_profile__demo_presenter">Demo Presenter</label>
</td>
<td class=eventtd>
{{ filter.form.profile__demo_presenter }}
</td>
</tr>
<tr>
<td class=eventtd> {{ filter.form.last_login.errors }}
<label for="id_last_login">Last Login</label>
</td>
<td class=eventtd>
{{ filter.form.last_login }}
</td>
<td class=eventtd> {{ filter.form.profile__is_leadership_team.errors }}
<label for="id_profile__is_leadership_team">Leadership Team</label>
</td>
<td class=eventtd>
{{ filter.form.profile__is_leadership_team }}
</td>
</tr>
<tr>
<td class=eventtd> {{ filter.form.profile__staff_position.errors }}
<label for="id_profile__staff_position">Staff Position</label>
</td>
<td class=eventtd>
{{ filter.form.profile__staff_position }}
</td>
<td class=eventtd> {{ filter.form.profile__is_vizlab_staff.errors }}
<label for="id_profile__is_vizlab_staff">Vizlab Staff</label>
</td>
<td class=eventtd>
{{ filter.form.profile__is_vizlab_staff }}
</td>
</tr>
<tr>
<td class=eventtd> {{ filter.form.profile__force_no_emails.errors }}
<label for="id_profile__force_no_emails">Forced No Emails</label>
</td>
<td class=eventtd>
{{ filter.form.profile__force_no_emails }}
</td>
<td></td><td></td>
</tr>
<tr>
<td class=eventtd> {{ filter.form.o.errors }}
<label for "id_o">Order By</label>
</td>
<td class=eventtd>
{{ filter.form.o }}
</td>
<td></td><td></td>
</tr>
<tr class=eventrow>
<td class=eventtd>
</td>
<td class=eventtd>
<input type="submit" value="Apply Filter">
</td>
<td></td><td></td>
</tr>
</table>
</form>
</div>
</div>
</div>

<!-- Filter results -->
<div class="textholder_wide">
{% autopaginate filter.qs 40 as filter_list %}
<center>{% paginate %}</center>
<div class=event_list>
<table cellpadding=0 cellspacing=0 width=100%>
<tr class=el_title>
<td class=el_start><strong>Number of Users</strong></td>
<td><strong>Number of Inactive Users</strong></td>
<td class=el_end colspan=8>&nbsp;</td>
</tr>
<tr>
<td class=el_start align=center>{{ user_count }}</td>
<td align=center> {{ inact_user_count }}</td>
<td class=el_end colspan=6>&nbsp;</td>
</tr>
<tr>
<td colspan=8 class=el_start><a href=#><strong>Create New Account</strong></a></td>
</tr>
<tr class=el_title>
<td class=el_start><strong>Username</strong></td>
<td><strong>Formal Name</strong></td>
<td><strong>Position</strong></td>
<td align=center width=8%><strong>Admin</strong></td>
<td align=center width=8%><strong>Mod</strong></td>
<td align=center width=8%><strong>Scheduler</strong></td>
<td align=center width=8%><strong>Demo</strong></td>
<td class=el_end><strong>Action</strong></td>
</tr>
{% for user in filter_list %}
<tr>
<td class=el_start><a href="/admin/accounts/edit/{{ user.pk }}/">{{ user.username }}</a></td>
<td><a href="mailto:{{ user.email }}">{{ user.profile.get_formal_name }}</a></td>
<td>{{ user.profile.get_staff_position }}</td>
<td align=center>{% if user.is_superuser %}Yes{% else %}&nbsp;{% endif %}</td>
<td align=center>{% if user.is_staff %}Yes{% else %}&nbsp;{% endif %}</td>
<td align=center>{% if user.profile.is_scheduler %}Yes{% else %}&nbsp;{% endif %}</td>
<td align=center>{% if user.profile.demo_presenter %}Yes{% else %}&nbsp;{% endif %}</td>
<td class=el_end><a href="/admin/accounts/edit/{{ user.pk }}/">Edit</a> | <a href="/admin/accounts/delete/{{ user.pk }}/">Delete</a></td>
</tr>
{% endfor %}
<tr>
<td colspan=8 class=el_start><a href=#><strong>Create New Account</strong></a></td>
</tr>
</table>
</div>
<center>{% paginate %}</center>

</div>



<div class="clear"></div>

<!--  END CONTENT -->

{% endblock %}
