{% extends "mail/base_mail.html" %}

{% block title %}Assignment Removed: {{ event.event_title|title|truncatewords:5 }} {{ event.event_date|date:"n/j/y h:i A" }} - {{ event.get_end_date|date:"h:i A" }}
{% endblock %}

{% block content %}
<p>Proctor,</p>
<p>This assignemnt has been removed:</p>
<p><strong>{{ event.event_title|title }}</strong></p>
<p>{{ event.event_date|date:"n/j/y h:i A" }} - {{ event.get_end_date|date:"h:i A" }}</p>
<p>{{ event.event_details }}</p>
<br>
<p>--Automated Message</p>
{% endblock %}
